/*-----------------------Body-----------------------*/
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;

}

.container-content{
    margin: auto;
    padding:1em;
}

.container,
.container-fluid,
.row {
	margin: 0;
	padding: 0
}

a{
    color: #f2f2f2;
}
/*-----------------------Body-----------------------*/
/*-----------------------Header-----------------------*/

/*Spring Movie Call Out*/
.spring{
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    transition: all 0.5s;
}

.logo{
    height: 50px;
}

 #home-header {
     height: 88vh;

     background: url("assets/road.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    color:#f2f2f2;
    
 }


/*-----------------------Header-----------------------*/
/*-----------------------Call To Action-----------------------*/

.read-on{
    color: #f2f2f2;
    position: absolute;
    font-size: 3rem;
    bottom: 10px;
    transition: all 0.8s;
}

.read-on:hover{
    text-decoration: none;
    font-size: 3.5rem;
    color: #EA7600;
}

.cta-download{
    background-color: #f2f2f2;
    padding-top:25px;
    padding-bottom:25px;
    
}

.cta-download a{
    color: #212529;
}

.link-blue{
    color: #007bff;
}
/*-----------------------Call To Action-----------------------*/
/*-----------------------Cards-----------------------*/

.card img{
    width: 100%;
}

/*-----------------------Cards-----------------------*/

/*-----------------------Footer-----------------------*/
footer {
    background-color: #0E548B;
    color:#f2f2f2;
    padding: 10px;
    text-align: center;
    /*display: none;*/
}

footer a{
    color: #f2f2f2;
}

footer a:hover{
    color: #cce;
}

.text-container{
    margin: 0 auto;
    width:300px;
}

.footer-socials{
    font-size: 2rem;
    margin: 0 auto;
}

/*-----------------------Footer-----------------------*/

/*-----------------------Responsive-----------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container-content{
        width: 576px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container-content{
        width: 768px;
    }
    
    /*Spring Movie Call Out*/
    .spring{
    display: block;
    }
    
    #home-header {
         height: 86vh;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
        .container-content{
        width: 992px;
    }

    #home-header {
         height: 86vh;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container-content{
        width: 992px;
    }
    
}
/*-----------------------Responsive-----------------------*/

