/*-----------------------Body-----------------------*/
/*For smooth scrolling when clicking anchor links*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'helvetica' sans-serif;
    padding: 0;
    margin: 0;

}

.container-content {
    margin: auto;
    padding: 1em;
}

.container,
.container-fluid,
.row {
    margin: 0;
    padding: 0
}

/*This nice white is easy on the eyes*/
a {
    color: #f2f2f2;
}

/*-----------------------Body-----------------------*/

/*-----------------------Header-----------------------*/

/*Spring Movie Call Out*/
/*Hide spring callout alert on mobile view*/
.spring {
    display: none;
}

/*Add a nice small gap between alert and nav*/
.alert {
    margin-bottom: 0.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    transition: all 0.5s;
}

.logo {
    height: 50px;
}

.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/*Landing image to cover full width of container*/
.landing {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    color: #f2f2f2;

}

#home-landing {
    height: 88vh;
    background: url("../images/road.jpg") no-repeat center center fixed;

}

#in-use-landing {
    height: 40vh;
    background: url("../images/spring.jpg") no-repeat center center fixed;
}

.profile-container {
    top: -36px;
    border: 5px solid grey;
    border-radius: 1rem;
    transition: all 1s;
}

.profile {
    width: 100%;
}

/*Give the profile a glow and shadow when hovered over*/
.profile-container:hover {
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .175)!important;
    background-color: #fff2b0 !important;
}

/*-----------------------Header-----------------------*/

/*-----------------------Call To Action-----------------------*/

/*Center at bottom of landing*/
.read-on {
    color: #f2f2f2;
    position: absolute;
    font-size: 3rem;
    bottom: 10px;
    transition: all 0.8s;
}

/*Give blender orange color when hovered*/
.read-on:hover {
    text-decoration: none;
    font-size: 3.5rem;
    color: #EA7600;
}

.cta-download {
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 25px;

}

.cta-download a {
    color: #212529;
}

/*link classes used for appropriate link styling*/
.link-blue {
    color: #007bff;
    transition: color 0.5s;
}

.link-dark {
    color: #212529;
    text-decoration: underline;
    transition: color 0.5s;
}

.link-blue:hover, .link-dark:hover {
    color: #EA7600;
}

/*-----------------------Call To Action-----------------------*/

/*-----------------------Cards-----------------------*/

.card img {
    width: 100%;
}

/*In-use - Create a responsive embedded video experience*/
/*https://avexdesigns.com/responsive-youtube-embed/*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.advantage {
    text-align: center;
}

.advantage i {
    font-size: 5rem;
    transition: color 1.2s;
}

/*Nice blender-orange glow when hovered*/
.advantage:hover i {
    color: #EA7600;
}

/*Learn - Move image to top on right leaning segments*/
.r-text {
    order: 2;
}

.r-image {
    order: 1;
}

/*Learn - blender orange link glow*/
.card-link{
    color: #212529;
    transition: color 0.5s;
}

.card-link:hover{
    color: #EA7600;
}
/*-----------------------Cards-----------------------*/

/*-----------------------Footer-----------------------*/

footer {
    background-color: #0E548B;
    color: #f2f2f2;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
}

footer a {
    color: #f2f2f2;
    transition: all 0.5s;
}

footer a:hover {
    color: #EA7600;
}

/*Dont spread out too far on large screens*/
.text-container {
    margin: 0 auto;
    width: 300px;
}

.footer-socials {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}


/*-----------------------Footer-----------------------*/

/*-----------------------Responsive-----------------------*/

/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .container-content {
        width: 576px;
    }
}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .container-content {
        width: 768px;
    }

    /*Spring Movie Call Out*/
    .spring {
        display: block;
    }

    #home-landing {
        height: 87vh;
    }

/*Images on the right*/
    .r-text{
        order: 1;
    }
    .r-image{
        order: 2;
    }
}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .container-content {
        width: 992px;
    }

    #home-landing {
        height: 88vh;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .container-content {
        width: 992px;
    }

}

/*-----------------------Responsive-----------------------*/
